@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model checkboxprg.Models.Account

@using (Html.BeginForm("Index", "Bank", FormMethod.Post))
{
    <b>  Enter account no : </b>

    @Html.TextBoxFor(m=>m.Accountno)
    <br />
    <br />
    <b> Enter amount :</b>
    @Html.TextBoxFor(m=>m.amount)
    <br />
    <br />
    <b> select type :</b>
    @Html.DropDownListFor(m=>m.gettranstype,new SelectList(Enum.GetValues(typeof(transtype))),"select")
    <br />
    <br />
    <input type=submit value="ok" />
    <br />
    <br />



}

<h1>transaction Details :</h1>

Account No : @ViewBag.accountno
<br />
Balance amount : @ViewBag.balance



